body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #cbd7ee;
}

hr {
  border-color: rgb(241, 82, 19);
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 5rem;
}

.btn {
  font-weight: 700;
  border-radius: 500px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(241, 82, 19);
  border-color: rgb(241, 82, 19);
}

.btn-primary:hover {
  background-color: rgb(245, 69, 6);
  border-color: rgb(245, 69, 6);
  border-width: 3px;
}

.btn-xl {
  padding: 1rem 2rem;
}
